<div class="back">
  <div class="div-center">
    <div class="content">
      <form [formGroup]="convertForm" (ngSubmit)="onConvert()">
        <div class="row">
          <div class="col flex-grow-1">
            <input type="text" [formControl]="data" class="form-control" placeholder="Enter word" required>
            <div [hidden]="data.valid || data.untouched">
              <div [hidden]="!data.hasError('required')" class="text-danger">Input data required.</div>
            </div>
          </div>
          <div class="col-2">
            <button type="submit" class="btn btn-primary btn-block" [disabled]="!convertForm.valid">Convert</button>
          </div>
        </div>
      </form>
      <div class="card mt-4" *ngIf="word.length > 0">
        <div class="card-body">
          <h5 class="card-title">
            <span *ngFor="let char of word">
              {{char}}
            </span>
          </h5>
        </div>
      </div>

    </div>